<launch>
  <arg name="mav_name" default="dragonfly26"/>
  <arg name="base_frame_id" default="$(arg mav_name)/base_link"/>
  <arg name="sonar_frame_id" default="sonar"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="sonar_static_publisher" args="0.05 0.0 0.05 0 0 0 $(arg base_frame_id) $(arg sonar_frame_id)" />
  <!-- <node pkg="sonar_vis" type="maxsonar_listener.py" name="pc2_gen" output="screen"/> -->
</launch>
